.btnWrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
    border: 2px solid red;
    width: 40%;
}

.btnWrap button {
    margin-top: 10px;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 40%;
}

.submitBtn {
    color: #FFFFFF;
    background-color: #2979FF;
}

.cancelBtn{
    color: #FFFFFF;
    background-color: #121212;
   
}